[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "doom.d"]
	path = doom.d
	url = git@github.com:zrquan/doom.d.git
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = git@github.com:zrquan/dotbot-yay.git
